* text=auto
*.cs text eol=lf
*.unity text eol=lf merge=unityyamlmerge
*.prefab text eol=lf merge=unityyamlmerge
*.asset text eol=lf merge=unityyamlmerge
*.meta text eol=lf
*.mat text eol=lf
*.anim text eol=lf
*.controller text eol=lf
*.json text eol=lf
*.png binary
*.fbx binary
*.glb binary
*.wav binary
*.ogg binary
*.exr binary
*.hdr binary
